.preloadercontainer {
    position: fixed;
    left: var(--toast-spacing);
    bottom: var(--toast-spacing);
    width: var(--toast-width);
    height: var(--toast-height);
    transition: bottom 0.2s ease-in;
}

.preloaderhidden {
    composes: preloadercontainer;
    bottom: calc(-1 * (var(--toast-height) + var(--toast-spacing)));
}

.preloadermessage {
    padding-right: var(--spacing-2);
}
