.status {
    display: flex;
    align-items: center;
}

.statusIndicator {
    height: 45px;
    width: 45px;
    margin-right: var(--spacing-1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusIndicatorAlive {
    composes: statusIndicator;
    background-color: var(--color-positive);
}

.statusIndicatorDead {
    composes: statusIndicator;
    background-color: var(--color-text);
}

.statusIndicatorUnknown {
    composes: statusIndicator;
    background-color: var(--color-text-light);
}
