.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 15px;
    overflow: hidden;
}

.header {
    padding: var(--spacing-2) var(--spacing-5);
    color: var(--color-text);
    border-bottom: 3px solid var(--color-primary);
}

.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: var(--fontWeight-medium);
    padding-right: var(--spacing-10);
    margin: 0;
}

.name:before {
    content: '•';
    padding-right: var(--spacing-2);
}
